<div class="twelve columns">
  <h3><b><center>Recent Posts</center></b></h3>
    <% @posts.each do |post| %>
      <% if @user_id === post.user_id %>


<div class="twelve columns">


    <div class="row">
        <div class="offset-by-two seven columns" id="profile-posts">
          <h3 style="margin:0"><%= link_to post.title%></h3> <br> 
          Posted <%= (time_ago_in_words(post.created_at)) %> ago<br>
          Description: <%= post.description %> <%= post.user_id %><br>
      </div>
      
      <div class="row">
        <div id="button1">
          <%= link_to "Delete Post", {:controller => :posts, :action => 'destroy', :id => post.id }, :method => :delete, :class => "trash-btn" %>
          </div>
          <div id="button2">
          <a href="/posts/<%= post.id %>/edit">Edit Post</a>

          </div>
        </div> 
      </div>




      <% end %>
    <% end %>
  </div>
</div>
