<div class="twelve columns">
  <h3><b><center>Recent Posts</center></b></h3>
    <% @posts.each do |post| %>
<<<<<<< HEAD
      <% if @user_id === post.user_id %>


<div class="twelve columns">


    <div class="row">
        <div class="offset-by-two seven columns" id="profile-posts">
          <h3 style="margin:0"><%= link_to post.title%></h3> <br> 
          Posted <%= (time_ago_in_words(post.created_at)) %> ago<br>
          Description: <%= post.description %> <%= post.user_id %><br>
      </div>
      
      <div class="row">
        <div id="button1">
          <%= link_to "Delete Post", {:controller => :posts, :action => 'destroy', :id => post.id }, :method => :delete, :class => "trash-btn" %>
          </div>
          <div id="button2">
          <a href="/posts/<%= post.id %>/edit">Edit Post</a>

          </div>
        </div> 
      </div>




=======
      <% if @user_id == post.user_id %>
        <div class="offset-by-two six columns" id="profile-posts">
          Title: <%= post.title %> Description: <%= post.description %> <%= post.user_id %>
        </div>
        <div class="three columns" id="post-buttons">
          <%= button_to "Delete", {:controller => :posts, :action => 'destroy', :id => post.id }, :method => :delete, :class => "trash-btn" %>
          <!-- add link button to post/city show page -->
            <!-- <img src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/139/Trash01-128.png" alt="trash-icon" height=25px width=25px /> -->
        </div>
>>>>>>> master
      <% end %>
    <% end %>
  </div>
</div>
