<div class="container">

<h1>Update Profile</h1>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@user) do |f| %>

        <%= image_tag @user.image.url(:medium), id: "profile-img" %><br>
        <%= f.label :image, "Change Profile Picture" %>
        <%= f.file_field :image %>
        <div class="row">
        <div class="ten columns offset-by-four">

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :location %>
        <%= f.text_field :location %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

    <br>
	   <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <!--this will submit to user#update -->
    <% end %>
    </div>
  </div>
  </div>
</div>
