
<div class="container">

<h1>Update Profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>


      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>

	   <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <!--this will submit to user#update -->
    <% end %>


  <!--update user photo -->
<!--  <%= #f.label :avatar%>
      <%= #form_for @user, url: users_path, :action => 'update', html: { multipart: true } do |form| %>
   <%= #form.file_field :avatar %>
   <%= #form.submit "upload" %>
    <% #end %> -->





  </div>
</div>
</div>