<!-- app/views/users/show.html.erb -->
<head></head>
<div class="container">
<h1>Welcome, <%= link_to @user.username %></h1>
 <h5> Member since <%= localize(@user.created_at, :format => :long) %></h5>
<!-- edit profile button -->
<div class="button">
<%= link_to "Edit Profile", edit_path(@user) %>
</div>
<!--user photo div -->
 <div class="row">

    <div class="four columns">
      <%= image_tag @user.image.url(:medium) %>
    </div>

<!--user info div -->

  <div class="eight columns">
    <div class="offset-by-two six columns">
    </div>
    <div class="three columns">
        <p><b>Username: </b><%= @user.username %></p>
        <p><b>Location: </b><%= @user.location %></p>
        <p><b>Email: </b><%= @user.email %></p>
    </div>
    <div class="five columns">
    </div>
  </div>

<!--user post div -->
 <%= render "posts" %>
