<!-- app/views/users/show.html.erb -->
<head></head>
<div class="container">
<h1>Welcome, <%= link_to @user.username %></h1>
 <h5> Member since <%= localize(@user.created_at, :format => :long) %></h5>
<!-- edit profile button -->
<div class="button">
<%= link_to "Edit Profile", edit_path(@user) %>
</div>
<!--user photo div -->
 <div class="row">

    <div class="four columns">
      <%= image_tag @user.image.url(:medium) %>
    </div>

<!--user info div -->

  <div class="eight columns">
    <div class="offset-by-two six columns">
    </div>
    <div class="three columns">
        <p><b>Username: </b><%= @user.username %></p>
        <p><b>Location: </b><%= @user.location %></p>
        <p><b>Email: </b><%= @user.email %></p>
    </div>
    <div class="five columns">
    </div>
  </div>

<!--user post div -->
<div class="twelve columns profile-posts">
  <% @posts.each do |post| %>
    <% if post.user_id == @user.id %>
      <div class="offset-by-two six columns" id="profile-posts">
        Title: <%= post.title %> Description: <%= post.description %> <%= post.user_id %>
      </div>
      <div class="three columns" id="post-buttons">
        <%= button_to "Delete", {:controller => :posts, :action => 'destroy', :id => post.id }, :method => :delete, :class => "trash-btn" %>
        <!-- add link button to post/city show page -->
          <!-- <img src="https://cdn4.iconfinder.com/data/icons/standard-free-icons/139/Trash01-128.png" alt="trash-icon" height=25px width=25px /> -->
      </div>
    <% end %>
  <% end %>
</div>
