<div class="container">
 <h1><%= @city.name %></h1>
   <h3 style="text-align: center"><div class="button">
        <%= link_to "Add New Post", new_post_path%>
    </div></h3>


   <% @posts.each do |post| %>
    <% if post.city_id == @city.id %>
     <div class="row">
      <div class="thumbnail-post two columns">
       <% ben = post.user_id %>
       <% benben = User.find(ben) %>
       <a href="/users/<%= ben %>"><%= image_tag benben.image.url(:thumb), class: "thumbnail" %></a>
     </div>
     <div class="offset-by-one eight columns">
       <h3 style="padding: 0px"><%= post.title %></h3>
       <p>
         Posted <%= post.created_at.strftime("%A %m/%d/%Y") %>
           <strong>|</strong>
         Last edited <%= post.updated_at.strftime("%A %m/%d/%Y") %>
       </p>
       <p><%= post.description %></p>
       <a href="/posts/<%= post.id %>/edit">Edit Post</a><hr>
     </div>
   </div>
   <% end %>
  <% end %>
</div>
