<!DOCTYPE html>
<html>
<head>
  <title>ProjectVagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <div class="row" id="row">
    <div class="three columns">
      <div class="logo-container">
        <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Logo_Game_of_Thrones.png"/></a>
      </div>
    </div>
    <div class="nine columns">
      <div class="right-panel">
        <% if current_user %>
        Welcome <%= current_user.username %>  <%= link_to "Logout", '/logout', method: "DELETE" %>
        <% else %>
        <a href="/login" style="display: inline;" id="login">Log In</a>
        <a href="/signup" style="display: inline;">Create Account</a>
        <% end %>
      </div>
    </div>
  </div>
  </header>


<%= yield %>
<script>
alert('hffas')
$(document).on('ready page:load', function(){
  $('.map').contents().find('#banner')
  $('#banner').hide();
  skroll();
})

function skroll(){
  // var s = skroller.init({
    forceHeight: false
  });
  s.refresh($('.homeslide'));
};
  alert('hello outside of function');
</script>
</body>
</html>
